/* description  */
.destinations {
    position: relative;
    /* padding-top: clamp(6rem, 10.9091vw + 3.81818rem, 12rem); */
    padding-block: 5rem;
    /* padding-top: 10rem;
    padding-bottom: 13rem; */
    /* margin-bottom: 1rem; */
    /* z-index: 2; */
}

.destinations:after {
    content: "";
    /* background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg"); */
    background-image: url("https://i.ibb.co/kg9fg9g/landing-img-40-tiny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top; */
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.destinations .row__container {
    position: relative;
    z-index: 2;
}

.info-container {
    padding-top: 1rem;
    width: 90%;
}

.destinations img {
    width: 100%;
    position: relative;
}

.info-container h2 {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
}

.bottom-row .info-container {
    text-align: right;
}

/* .bottom-row:last-child {
    order: 1;
} */
.destinations .row > * {
    margin-top: 0;
}
.row,
.col,
.container {
    /* border: 1px solid black; */
}
/* .info-container h2 {
    font-size: clamp(1.25rem, 1.36364vw + 0.977273rem, 2rem);
}

.info-container span {
    font-size: clamp(2.5rem, 2.27273vw + 2.04545rem, 3.75rem);
    font-family: "Oswald", sans-serif;
} */

.destinations p {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    color: black;
}

.info-container {
    /* margin-left: 5rem; */
    /* text-align: center; */
}

.destinations .row {
    justify-content: center;
    justify-content: space-around;
}

.destinations .bg-img {
    position: relative;
    z-index: 1;
}

.destinations .bg-img::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/7RqYzFS/landing-img-07-tiny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0;
    left: 15%;
    right: 15%;
    z-index: 10;
    width: 70%;
    height: 70%;
}

@media screen and (max-width: 992px) {
    .destinations {
        /* padding-top: 90px; */
    }
    .destinations .info-container {
        text-align: center;
        margin-inline: auto;
    }
    .bottom-row .bg-img {
        /* order: 2; */
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .destinations .row {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .destination-info {
        /* padding-inline: rem; */
    }
}
