/* description  */
.destinations {
    position: relative;
    /* padding-top: clamp(6rem, 10.9091vw + 3.81818rem, 12rem); */
    /* padding-top: 90px; */
    padding-top: 10rem;
    padding-bottom: 13rem;
    /* margin-bottom: 1rem; */
    /* z-index: 2; */
}

.destinations::after {
    content: "";
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    bottom: 0;
    height: 80%;
    /* height: 100%; */
    width: 100%;
    /* margin-block: 4rem; */
    /* padding-top: 5rem; */
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    /* mask-image: linear-gradient(black, transparent); */
    /* -webkit-mask-image: linear-gradient(transparent, black, black, black);
    mask-image: linear-gradient(transparent, black, black, black); */
}

.destinations .row__container {
    position: relative;
    z-index: 2;
}

.destination-info {
    padding-top: 1rem;
    width: 90%;
}

.destinations img {
    width: 100%;
    position: relative;
}

.destination-info h2 {
    font-size: clamp(1.25rem, 1.36364vw + 0.977273rem, 2rem);
}

.destination-info span {
    font-size: clamp(2.5rem, 2.27273vw + 2.04545rem, 3.75rem);
    font-family: "Oswald", sans-serif;
}

.destinations p {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    color: black;
}

.destinations .row {
    justify-content: center;
    justify-content: space-around;
}

@media screen and (max-width: 992px) {
    .destinations {
        padding-top: 90px;
    }
    .destination-info {
        text-align: center;
        margin-inline: auto;

        /* padding-top: 1rem ; */
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .destinations .row {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .destination-info {
        padding-inline: rem;
    }
}
