nav.navbar {
    background: none;
    height: var(--navbar-height);
    z-index: 1;
}

/* navbar brand  */
.navbar-brand {
    letter-spacing: 3px;
    transform: rotate(0);
    color: white;
}

.navbar--span {
    border-radius: 5px;
    transform: rotate(-15deg);
    transition: 0.5s;
}

.navbar:hover .navbar--span {
    transform: rotate(0);
}

/* navbar dropdown button  */
span.navbar-toggler-icon {
    --box: 20px;
    height: var(--box);
    width: var(--box);
}

.navbar {
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* .carousel next and previous buttons  */

.carousel :is(.carousel-control-next, .carousel-control-prev) {
    display: none;
}

/* navbar routes  */

.link {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: rgb(182, 182, 182);
    transition: 0.5s;
    font-weight: 400;
    letter-spacing: 2px;
}

.link:hover {
    color: white;
}

.profile {
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}
