/* navbar */

nav.navbar {
    --logo-height: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    height: var(--navbar-height);
    z-index: 100; /* to show navbar above banner  */
}

/* logo  */

.logo {
    position: relative;
    height: var(--logo-height);
    width: var(--logo-height);
    margin-bottom: 5px;
    margin-right: 2px;
    z-index: 1;
}

.logo-container span {
    position: absolute;
    width: var(--logo-height);
    height: var(--logo-height);
    background-color: #426444;
    top: 3px;
    left: 2px;
    z-index: 0;
    border-radius: 50%;
}

/* navbar brand  */

.navbar .navbar-brand a {
    font-family: var(--oswald);
    font-size: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    font-weight: 900;
    /* line-height: 40px; */
    /* line-height: 1; */
}

/* navbar dropdown button  */

span.navbar-toggler-icon {
    --box: 20px;
    height: var(--box);
    width: var(--box);
}

/* container padding */

.navbar .navbar-container {
    padding-block: 1em;
}

/* navbar routes  */

div.navbar-nav {
    /* margin-top: 5px; */
}

/* navbar links */
.link {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    /* color: rgb(182, 182, 182); */
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    letter-spacing: 2px;
    line-height: 1;
}

.links:hover a {
    color: rgb(182, 182, 182);
}

.links .link:hover {
    color: white;
    /* color: #26b330; */
}

.profile {
    --profile-width: 40px;
    /* display: inline-block; */
    height: var(--profile-width);
    width: var(--profile-width);
    border-radius: 50%;
    margin-left: 10px;
    /* margin-right: 5px; */
}

/* profile btn style  */

button.user_dropdown--toggle.dropdown-toggle,
.show > .btn-primary.dropdown-toggle,
button.user_dropdown--toggle:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

/* remove box shadow from dropdown btn */
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none;
}

/* dropdown toggle  */
.user_dropdown--toggle.dropdown-toggle::after {
    font-size: 16px;
    margin-left: 0.4rem;
    vertical-align: 0.1rem;
}

.user_dropdown {
    transition: 0.2s;
}

/* dropdown menu  */

.user_dropdown .dropdown-menu.show {
    left: -10rem;
    width: 15rem;
    margin-top: 1rem;
    padding: 0.2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2);
}

.user-info {
    letter-spacing: 0;
}
.user-info .profile {
    --profile-width: 50px;
    /* border: 2px solid rgb(115, 150, 47); */
}

.user_name {
    /* font-family: var(--oswald); */
    /* letter-spacing: 0; */
    font-size: 18px;
}

.user-email {
    font-size: 13px;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: var(--oswald); */
    color: #426444;
}

.logOut-btn {
    border-radius: 2px;
    /* padding: 10px 20px; */
    padding-block: 0.5rem;
    /* background-color: rgb(255, 71, 71); */
    color: white;
    /* color: black; */
    background-color: transparent;
}

.logOut-btn .content {
    /* font-family: var(--oswald); */
    font-weight: 400;
    font-size: 14px;
    /* letter-spacing: 2px; */
}

.logOut-btn > .ripple {
    --circle-width: 20px;
    /* background-color: rgba(87, 87, 87, 0.7); */
    animation: 1s linear ripple-effect;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
}

/* media queries */
@media screen and (min-width: 991px) {
    .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand a,
    .nav-toggle {
        line-height: 3rem;
    }
}
/* @media (min-width: 768px) { */
.animate {
    animation-duration: 0.4s;
    animation-fill-mode: both;
}
/* } */

/* dropdown menu animation  */

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.slideIn {
    animation-name: slideIn;
}
