nav.navbar {
    background-color: none;
    height: var(--navbar-height);
    z-index: 100; /* to show navbar above banner  */
}

/* navbar brand  */
.navbar .navbar-brand {
    display: inline-block;
    font-family: var(--oswald);
    text-transform: uppercase;
    letter-spacing: 0px;
    transform: rotate(0);
    color: white;
    font-size: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    font-weight: 600;
    line-height: 1;
}

.navbar-container .navbar--span {
    font-family: var(--oswald);
    display: inline-block;
    font-weight: 800;
    padding: 0px;
    vertical-align: baseline;
}

.navbar-links {
    display: inline-block;
    align-content: center;
}

/* navbar dropdown button  */
span.navbar-toggler-icon {
    --box: 20px;
    height: var(--box);
    width: var(--box);
}

.navbar > .container-lg.navbar-container {
    align-items: start;
}

/* container padding */

.navbar .navbar-container {
    padding-block: 1em;
}

/* .carousel next and previous buttons  */

.carousel :is(.carousel-control-next, .carousel-control-prev) {
    display: none;
}

/* navbar routes  */

div.navbar-nav {
    margin-top: 5px;
}

.link {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgb(182, 182, 182);
    transition: 0.5s;
    letter-spacing: 2px;
    height: 100%;
}

.link:hover {
    color: white;
}

.profile {
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

/* media queries */
@media screen and (min-width: 576px) {
    .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .navbar > .container-lg.navbar-container {
        align-items: center;
    }
}
