nav.navbar {
    background-color: none;
    height: var(--navbar-height);
    z-index: 100; /* to show navbar above banner  */
}

@media screen and (min-width: 576px) {
    .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

/* navbar brand  */
.navbar-brand {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    transform: rotate(0);
    color: white;
}

.navbar--span {
    border-radius: 3px;
    transform: rotate(-15deg);
    transition: 0.5s;
    scale: 1.1;
    /* transform: translatey(-2px); */
    /* translate: x; */
    /* rotate: ; */
    /* margin-bottom: 1rem;  */
    /* vertical-align: baseline; */
}

.navbar:hover .navbar--span {
    transform: rotate(0) translatey(-4px);
}

/* navbar dropdown button  */
span.navbar-toggler-icon {
    --box: 20px;
    height: var(--box);
    width: var(--box);
}

.navbar > .container-lg {
    align-items: start;
}

.navbar .navbar-container {
    padding-block: 1em;
}

/* .carousel next and previous buttons  */

.carousel :is(.carousel-control-next, .carousel-control-prev) {
    display: none;
}

/* navbar routes  */

.link {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgb(182, 182, 182);
    transition: 0.5s;
    letter-spacing: 2px;
}

.link:hover {
    color: white;
}

.profile {
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}
