/* navbar */

nav.navbar {
    --logo-height: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    height: var(--navbar-height);
    z-index: 100; /* to show navbar above banner  */
}

/* logo  */

.logo {
    position: relative;
    height: var(--logo-height);
    width: var(--logo-height);
    margin-bottom: 5px;
    margin-right: 1px;
    z-index: 1;
}

.logo-container span {
    position: absolute;
    width: var(--logo-height);
    height: var(--logo-height);
    background-color: green;
    top: 3px;
    left: 2px;
    z-index: 0;
    border-radius: 50%;
}

/* navbar brand  */

.navbar .navbar-brand {
    font-family: var(--oswald);
    font-size: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    font-weight: 900;
}

/* navbar links */

/* navbar dropdown button  */

span.navbar-toggler-icon {
    --box: 20px;
    height: var(--box);
    width: var(--box);
}

/* container padding */

.navbar .navbar-container {
    padding-block: 1em;
}

/* .carousel next and previous buttons  */

.carousel :is(.carousel-control-next, .carousel-control-prev) {
    display: none;
}

/* navbar routes  */

div.navbar-nav {
    margin-top: 5px;
}

.link {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    /* color: rgb(182, 182, 182); */
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    letter-spacing: 2px;
}

.links:hover a {
    color: rgb(182, 182, 182);
}

.links .link:hover {
    color: white;
    /* color: #26b330; */
}

.profile {
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

/* media queries */
@media screen and (min-width: 576px) {
    .navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}
