/* login section */
.login {
    background: #000;
    margin-top: calc(var(--navbar-height) * -1);
    /* padding-top: var(--navbar-height); */
    color: white;
}

.login-container {
    /* height: 100vh; */
    /* overflow: hidden; */
}

.login-img-container {
    background-image: url("https://i.ibb.co/VtzDNff/split-screen-img-1.jpg");
    background-position: center;
}

.login-img-container p {
    text-align: right;
    font-size: 5em;
    margin-right: 5rem;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--oswald);
    /* line-height: 60px; */
    line-height: 1;
    letter-spacing: 3px;
    color: white;
    opacity: 0.9;
}

.login-img-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-row {
    height: 100vh;
}

.login-form--col {
    /* padding-top: var(--navbar-height); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* or */

.or-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    text-align: center;
}

.or {
    position: absolute;
    background-color: black;
    z-index: 1;
}

.or-container .hr {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* login form */

.login-form {
    padding-top: 2rem;
}
.login-form ::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.login-form .form-control:focus {
    box-shadow: none;
}

.login-form input:is([type="email"], [type="password"]) {
    color: white;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.login-form input[type="checkbox"] {
    background-color: rgba(250, 250, 250, 0.5);
    border: 1px solid black;
}

.login-form input:checked {
    background-color: rgb(39, 154, 231);
    color: bal;
}
/* login btn  */
.login-img {
    height: 100vh;
    object-fit: contain;
    object-position: center;
    filter: brightness(50%);
}

.submit-btn {
    margin-top: 2rem;
}

/* .logOut-btn, */
.login-btn,
.submit-btn {
    /* margin-bottom: 250px; */
    width: 100%;
    font-size: 18px;
    color: rgb(59, 59, 59);
    font-weight: 400;
    /* border: 1px solid transparent; */
    border: none;
    border-radius: 2px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    letter-spacing: 0;
    word-spacing: 1px;
    margin-bottom: 1rem;
    font-family: var(--oswald);
    /* color: white; */
}

.login-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

:is(.login-btn, .submit-btn) > .ripple {
    --circle-width: 25px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    animation: ripple-effect 1s linear;
}
.google-logo {
    --icon-width: 25px;
    width: var(--icon-width);
    height: var(--icon-width);
    margin-right: 5px;
    /* width: 100%;  */
}
/* 
.login :is(.col, .row) {
    border: 1px solid white;
} */

.log {
    /* margin-top: 200px; */

    font-size: 3rem;
    /* margin-bottom: 50px; */
}
