/* tour section cards style  */
.tours-section .card {
    --first-color: rgba(0, 0, 0, 0.8);
    --second-color: rgb(128, 128, 158);
    max-width: 400px;
    color: white;
}

.tour-card {
    position: relative;
    height: 370px;
    /* background-size: 400px; */
    background-position: auto;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 20px 5px rgba(145, 145, 145, 0.5);
    transition: box-shadow 500ms ease-in, background-position 1s ease-out;
    /* transition: background-position 0.1s; */
}

.card-tag,
.wishlist {
    position: absolute;
    top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.4);
}

.card-tag {
    left: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #326d37;
    color: rgba(255, 255, 255, 0.767);
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

.wishlist {
    right: 10px;
    padding: 7px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #326d37;
    color: rgba(255, 255, 255, 0.767);
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
.wishlist:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tour-card:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
}

/* lights up the background */
.tour-card:hover:before,
.tour-card:focus-within:before {
    background: rgba(0, 0, 0, 0.25);
}

/* card box shadow  */
.tour-card:hover,
.tour-card:focus-within {
    box-shadow: 0px 10px 20px 5px rgb(126, 126, 126);
    background-position: center;
    transition: box-shadow 0.5s ease-in-out, background-position 20s linear;
}

/* card body style  */
.tour-card .card-body {
    padding-top: 1.5em;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 1)
    );
    z-index: 2;
}

/* image  */
/* .card-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    filter: brightness(80%);
    transition: 500ms;
}

.tour-card:hover .card-img {
    filter: brightness(90%);
} */

/* title  */
.tour-card .title {
    font-family: var(--oswald);
    font-size: clamp(1.125rem, 0.284091vw + 1.06818rem, 1.25rem);
    font-size: 25px;
}

/* subtitle  */
.tour-card :is(.place, .time) {
    font-family: var(--oswald);
    /* color: rgba(0, 0, 0, 0.831); */
    /* color: white; */
    font-weight: 400;
    margin-bottom: 0;
    font-size: clamp(0.8125rem, 0.178571vw + 0.776786rem, 0.9375rem);
}

.time {
    /* color: #4e8853; */
    font-weight: 800;
}

.icon {
    /* --clock-color: #337e38; */
    --clock-color: white;
    color: #3e8043;
    border: 1px solid var(--clock-color);
    background-color: var(--clock-color);
    border-radius: 50%;
    /* transition: ease-in 0.3s; */
}

/* .tour-card .subtitle-container {
    font-size: 14px;
} */
/* rating and reviews  */

.tour-card .reviews {
    font-size: clamp(0.875rem, 0.178571vw + 0.839286rem, 1rem);
    color: #4ca753;
    font-weight: 800;
}

.tour-rating {
    /* clamp( 0.875rem , 0.178571vw + 0.839286rem ,  1rem )  */
    margin-inline: 0.25em;
    /* background-color: yellow; */
    /* color: rgb(255, 209, 58); */
    /* color: orange; */
    font-size: clamp(1rem, 0.568182vw + 0.886364rem, 1.25rem);
    /* font-size: 1.25rem; */
}

.tour-rating.star {
}
.tour-rating,
.star-icon {
    color: orange;
}
.tour-rating:first-child {
    margin-left: 0;
}

.reviews {
    font-family: var(--oswald);
}

/* description  */
.description {
    font-size: clamp(0.8125rem, 0.284091vw + 0.755682rem, 0.9375rem);
    /* font-size: 15px; */
    line-height: 25px;
    color: rgba(255, 255, 255, 0.9);
    /* font-family: var(--oswald); */
    font-weight: 400;
    /* font-weight: 300; */
}

/* button */

.tour-btn {
    /* color: #59815b; */
    color: #5b9e5e;
    font-size: 14px;
    transition: 0.4s;
}

.tour-btn:hover,
.tour-btn:focus-within,
.tour-btn:focus-visible {
    /* color: #315734; */
    /* color: #4e8853; */
    letter-spacing: 2px;
    transition: 0.4s;
}

/* media query for hover supported devices */
@media (hover) {
    /* card body at bottom  */
    .tour-card .card-body {
        transform: translateY(55%);
        transition: transform 0.7s;
    }

    /* card body comes from bottom  */
    .tour-card:hover .card-body,
    .tour-card:focus-within .card-body {
        transform: translateY(0%);
    }

    .tour-card:focus-within .card-body {
        transition-duration: 0s;
    }

    .card-body > *:not(.title, .subtitle-container) {
        opacity: 0;
        transition: opacity 0.5s;
        /* transition-delay: 0.3s; */
    }

    .tour-card:hover .card-body > *,
    .tour-card:focus-within .card-body > * {
        opacity: 1;
        transition-delay: 0.2s;
    }

    .tour-card:focus-within .card-body > * {
        transition-delay: 0.1s;
    }
}
