/* tour section cards style  */
.tours-section .card {
    --first-color: rgba(0, 0, 0, 0.8);
    --second-color: rgb(128, 128, 158);
    max-width: 400px;
    box-shadow: 0px 5px 10px 0px rgba(145, 145, 145, 0.7);
    color: white;
}

.tour-card {
    position: relative;
    height: 350px;
    /* background-blend-mode: darken; */
    /* background-position: bottom; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    transition: all 500ms;
}

.tour-card:hover {
    /* transform: scale(1.05); */
    /* transition: 0.2s; */
    box-shadow: 0px 15px 15px 0px rgb(151, 151, 151);
}

/* card body style  */
.tour-card .card-body {
    /* position: relative; */
    /* position: absolute; */
    padding-top: 2em;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5) 20%,
        rgba(0, 0, 0, 0.7)
    );
    /* flex-grow: 0; */
    /* background-position: bottom;  */
    z-index: 2;
    transform: translateY(60%);
    transition: 0.6s;
}

.card-body > *:not(.title, .subtitle-container) {
    opacity: 0;
}
.tour-card:hover .card-body {
    transform: translateY(0%);
}

.tour-card:hover .card-body > * {
    opacity: 1;
}

/* 
.tour-card .card-body:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: 0.3s;
} 
*/

/* .tour-card .card-body:hover {
    color: black;
    background-color: white;
    background-image: none;
} */

/* .tour-card .card-body:hover:before {
    color: black;
    background-color: white;
    background-image: linear-gradient(transparent, white 8%);
    transform-origin: bottom;
    background-color: white;
    background-image: none;
} */

/* image  */
.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.tour-card .card-body:hover .card-img {
    filter: brightness(1000%);
}
/* .tour-card .card-img {
    height: var(--card-img-height);
    object-fit: cover;
} */

.tour-card .title {
    font-family: var(--oswald);
    font-size: clamp(1.125rem, 0.284091vw + 1.06818rem, 1.25rem);
}

.tour-card :is(.place, .time) {
    font-family: var(--oswald);
    /* color: rgba(0, 0, 0, 0.831); */
    /* color: white; */
    font-weight: 400;
    margin-bottom: 0;
    font-size: clamp(0.8125rem, 0.178571vw + 0.776786rem, 0.9375rem);
}

.time {
    /* color: #4e8853; */
    font-weight: 800;
}
.icon {
    /* --clock-color: #337e38; */
    --clock-color: white;
    color: #3e8043;
    border: 1px solid var(--clock-color);
    background-color: var(--clock-color);
    border-radius: 50%;
    transition: ease-in 0.3s;
}
.tour-card:hover .icon {
    box-shadow: 0px 0px 2px 1px var(--clock-color);
}
/* .tour-card .subtitle-container {
    font-size: 14px;
} */
/* rating and reviews  */

.tour-card .reviews {
    font-size: clamp(0.875rem, 0.178571vw + 0.839286rem, 1rem);
    color: #4ca753;
    font-weight: 800;
}

.tour-rating {
    /* clamp( 0.875rem , 0.178571vw + 0.839286rem ,  1rem )  */

    /* background-color: yellow; */
    /* color: rgb(255, 209, 58); */
    /* color: orange; */
    font-size: clamp(1rem, 0.568182vw + 0.886364rem, 1.25rem);
    /* font-size: 1.25rem; */
}

.tour-rating,
.star-icon {
    color: orange;
}
.tour-rating:first-child {
    padding-left: 0;
}

.reviews {
    font-family: var(--oswald);
}

/* description  */
.description {
    font-size: clamp(0.8125rem, 0.284091vw + 0.755682rem, 0.9375rem);
    /* font-size: 15px; */
    line-height: 25px;
    color: rgba(255, 255, 255, 0.9);
    /* font-family: var(--oswald); */
    font-weight: 400;
    /* font-weight: 300; */
}

/* button */

.tour-btn {
    /* color: #59815b; */
    color: #5b9e5e;
    font-size: 14px;
    transition: 0.4s;
}

.tour-btn:hover {
    /* color: #315734; */
    /* color: #4e8853; */
    letter-spacing: 2px;
}

.tour-card .ripple-button {
    font-size: 12px;
    border: none;
}

.tour-card .ripple-button:hover {
    background-position: right;
    /* change the direction of the change here */
    /* color: #fff; */
    box-shadow: 0px 5px 5px 0px #b1b1b1;
    background-color: rgba(0, 0, 0, 1);
    /* box-shadow: 5px 5px 5px 5px black; */
    /* background-color: rgb(65, 59, 41); */
    /* color: black; */
    text-decoration: none;
}
