/* tour section cards style  */
.tours-section .card {
    --first-color: rgba(0, 0, 0, 0.8);
    --second-color: rgb(128, 128, 158);
    max-width: 400px;
    transition: ease-in 0.2s;
    box-shadow: 0px 5px 10px 0px rgba(182, 182, 182, 0.5);
}

.tour-card:hover {
    transform: translatey(-10px);
    box-shadow: 0px 15px 10px 0px rgba(182, 182, 182, 0.5);
}
/* image  */
.tour-card .card-img {
    height: var(--card-img-height);
    object-fit: cover;
}

.tour-card .title {
    font-family: var(--oswald);
    font-size: clamp(1.125rem, 0.284091vw + 1.06818rem, 1.25rem);
}

.tour-card :is(.place, .time) {
    font-family: var(--oswald);
    color: rgba(0, 0, 0, 0.831);
    font-weight: 400;
    margin-bottom: 0;
    font-size: clamp(0.8125rem, 0.178571vw + 0.776786rem, 0.9375rem);
}

.icon {
    --clock-color: #337e38;
    color: white;
    border: 1px solid var(--clock-color);
    background-color: var(--clock-color);
    border-radius: 50%;
    transition: ease-in 0.3s;
}
.tour-card:hover .icon {
    box-shadow: 0px 0px 2px 1px var(--clock-color);
}
/* .tour-card .subtitle-container {
    font-size: 14px;
} */
/* rating and reviews  */

.tour-card .reviews {
    font-size: clamp(0.875rem, 0.178571vw + 0.839286rem, 1rem);
}

.tour-rating {
    /* clamp( 0.875rem , 0.178571vw + 0.839286rem ,  1rem )  */

    /* background-color: yellow; */
    /* color: rgb(255, 209, 58); */
    color: orange;
    font-size: clamp(1rem, 0.568182vw + 0.886364rem, 1.25rem);
    /* font-size: 2rem; */
}

.tour-rating:first-child {
    padding-left: 0;
}

.reviews {
    font-family: var(--oswald);
}

/* description  */
.description {
    font-size: clamp(0.8125rem, 0.284091vw + 0.755682rem, 0.9375rem);
    /* font-size: 15px; */
    line-height: 25px;
    /* font-family: var(--oswald);
    font-weight: 400; */
}

/* button */

.tour-btn {
    color: #59815b;
    font-size: 14px;
    transition: 0.4s;
}

.tour-btn:hover {
    color: #315734;
    letter-spacing: 2px;
}

.tour-card .ripple-button {
    font-size: 12px;
    border: none;
}

.tour-card .ripple-button:hover {
    background-position: right;
    /* change the direction of the change here */
    /* color: #fff; */
    box-shadow: 0px 5px 5px 0px #b1b1b1;
    background-color: rgba(0, 0, 0, 1);
    /* box-shadow: 5px 5px 5px 5px black; */
    /* background-color: rgb(65, 59, 41); */
    /* color: black; */
    text-decoration: none;
}
