.tours-section .card {
    /* --first-color: #c5b486; */
    --first-color: black;
    --second-color: #80753f;
    border-color: rgba(139, 139, 139, 0.15);
    max-width: 400px;
    margin-inline: auto;
}

.tour-card .card-img {
    height: 15rem;
    object-fit: cover;
    border-radius: 0 0 0 0;
}

.tour-card .ripple-button {
    font-size: 11px;
    border: none;
    background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 50%,
        var(--second-color) 50%,
        var(--second-color) 100%
    );

    padding: 0.75em 1.5em;
    text-align: center;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block; /* display: block; */
    z-index: 100;
}

.tour-card .ripple-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.tour-card {
    margin-inline: auto;
    /* text-align: center; */
    display: flex;
}

p {
    font-size: 15px;
    line-height: 25px;
}

.tour-card .title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    /* font-weight: 700; */
}

.tour-card .place {
    color: rgba(0, 0, 0, 0.831);
    font-weight: 400;
    font-size: 0.875rem;
}

.new-rating {
    /* color: red; */
    /* background-color: yellow; */
}

.card-body {
    background-color: #d17e7b;
}
