.card .card-img {
    height: 15rem;
    object-fit: cover;
    /* border-bottom-left-radius: 0px; */
    border-radius: 0 0 0 0;
}

p {
    font-weight: 500;
    color: rgba(19, 6, 6, 0.885);
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}
.place {
    color: rgba(0, 0, 0, 0.831);
    font-weight: 700;
}
