/* tour section cards style  */
.tours-section .card {
    --first-color: rgba(0, 0, 0, 0.8);
    --second-color: rgb(128, 128, 158);
    max-width: 400px;
}

/* image  */
.tour-card .card-img {
    height: var(--card-img-height);
    object-fit: cover;
}

.tour-card .title {
    font-family: var(--oswald);
    font-size: clamp(1.125rem, 0.284091vw + 1.06818rem, 1.25rem);
}

.tour-card :is(.place, .time) {
    font-family: var(--oswald);
    color: rgba(0, 0, 0, 0.831);
    font-weight: 400;
    margin-bottom: 0;
    font-size: clamp(0.8125rem, 0.178571vw + 0.776786rem, 0.9375rem);
}

.tour-card .subtitle-container {
    /* font-size: 14px; */
}
/* rating and reviews  */

.tour-rating {
    /* clamp( 0.875rem , 0.178571vw + 0.839286rem ,  1rem )  */

    /* background-color: yellow; */
    color: rgb(253, 198, 15);
}

.reviews {
    /* color: red; */
    font-family: var(--oswald);
}

.tour-card :is(.tour-rating, .reviews) {
    font-size: clamp(0.875rem, 0.178571vw + 0.839286rem, 1rem);
}

/* description  */
.description {
    font-size: clamp(0.8125rem, 0.267857vw + 0.758929rem, 1rem);
    /* line-height: 25px; */
    /* font-family: var(--oswald);
    font-weight: 400; */
}

/* button */
.tour-btn__container {
    display: block;
    margin-inline: auto;
    text-align: center;
}

.tour-card .ripple-button {
    font-size: 12px;
    border: none;
    /* background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 50%,
        var(--second-color) 50%,
        var(--second-color) 100%
    ); */

    /* background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 41%,
        var(--second-color) 51%,
        var(--first-color) 100%
    ); */

    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.75em 1.5em;
    text-align: center;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block; /* display: block; */
    z-index: 100;
}

.tour-card .ripple-button:hover {
    background-position: right;
    /* change the direction of the change here */
    /* color: #fff; */
    background-color: rgba(0, 0, 0, 1);
    /* box-shadow: 5px 5px 5px 5px black; */
    /* background-color: rgb(65, 59, 41); */
    /* color: black; */
    text-decoration: none;
}
