/* tour section cards style  */
.tours-section .card {
    --first-color: rgba(0, 0, 0, 0.8);
    /* --first-color: rgb(15, 24, 145); */
    /* --second-color: #7700ff; */
    --second-color: rgb(128, 128, 158);
    border: none;
    border-radius: 0 0 2px 2px;
    border-radius: 5px;
    max-width: 400px;
    margin-inline: auto;
    /* background-color: transparent; */
}

.tour-card {
    margin-inline: auto;
    /* text-align: center; */
    display: flex;
}

/* image  */
.tour-card .card-img {
    height: var(--card-img-height);
    object-fit: cover;
    /* border-radius: 0 0 0 0; */
}

.tour-card .title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    /* font-weight: 700; */
}

.tour-card .place {
    color: rgba(0, 0, 0, 0.831);
    font-weight: 400;
    margin-bottom: 0;
    font-size: 0.875rem;
}

.tour-card .time {
    font-size: 0.875rem;
}

/* rating and reviews  */

.tour-rating {
    font-size: 1.25rem;
    /* background-color: yellow; */
    color: rgb(253, 198, 15);
}

.reviews a {
    color: red;
}
/* description  */
.description {
    font-size: 15px;
    line-height: 25px;
}

/* button */
.tour-btn__container {
    display: block;
    margin-inline: auto;
    text-align: center;
}

.tour-card .ripple-button {
    font-size: 12px;
    border: none;
    /* background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 50%,
        var(--second-color) 50%,
        var(--second-color) 100%
    ); */

    /* background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 41%,
        var(--second-color) 51%,
        var(--first-color) 100%
    ); */

    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.75em 1.5em;
    text-align: center;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block; /* display: block; */
    z-index: 100;
}

.tour-card .ripple-button:hover {
    background-position: right;
    /* change the direction of the change here */
    /* color: #fff; */
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 5px 5px black;
    /* background-color: rgb(65, 59, 41); */
    /* color: black; */
    text-decoration: none;
}
