.tours-section {
    --card-img-height: 15rem;
    --card-box-shadow: 0px 0px 20px 0px rgba(130, 130, 130, 0.3);
    position: relative;
    padding-top: 4rem;
    padding-bottom: 6rem;
    z-index: 5;
    overflow: hidden;
}

.tours-section .spinner {
    position: absolute;
    margin-inline: auto;
    text-align: center;
    /* top: 0; */
    left: 25%;
    right: 25%;
    /* margin-block: 2rem; */
    /* padding-block: 1rem; */
}

.tours-section h2 {
    /* font-size: 2.5rem; */
    font-size: clamp(1.5625rem, 1.70455vw + 1.22159rem, 2.5rem);
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.tours-section::before {
    content: "";
    position: absolute;
    /* background-image: url("https://i.ibb.co/hW4FZ3C/landing-img-40.jpg"); */
    background-image: url("https://i.ibb.co/kg9fg9g/landing-img-40-tiny.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
}

/* .tours-section::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
} */

.tours-section::after {
    content: "";
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    bottom: calc(clamp(0rem, 0.892857vw + -0.178571rem, 1.25rem) * -1);
    height: 100px;
    height: 400px;
    width: 100%;
    -webkit-mask-image: linear-gradient(transparent, black 80%);
    mask-image: linear-gradient(transparent, black 80%);
}

.tours-section .card {
    position: relative;
    z-index: 2;
}
