.tours-section {
    --card-img-height: 15rem;
    --card-box-shadow: 0px 0px 20px 0px rgba(130, 130, 130, 0.3);
    padding-top: clamp(2.5rem, 2.14286vw + 2.07143rem, 4rem);
    padding-bottom: clamp(6rem, 2.85714vw + 5.42857rem, 8rem);
    z-index: 5;
}

/* .tours-section .spinner {
    position: absolute;
    margin-inline: auto;
    text-align: center;
    left: 25%;
    right: 25%;
} */

.tours-section h2 {
    font-size: clamp(1.6875rem, 1.16071vw + 1.45536rem, 2.5rem);
    z-index: 1;
    /* border-bottom: 1px solid green; */
}

.tours-section::before {
    content: "";
    position: absolute;
    /* background-image: url("https://i.ibb.co/hW4FZ3C/landing-img-40.jpg"); */
    background-image: url("https://i.ibb.co/kg9fg9g/landing-img-40-tiny.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(95%);
    top: 0;
    width: 100%;
    height: 100%;
}

.tours-section::after {
    content: "";
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    bottom: calc(clamp(0rem, 0.892857vw + -0.178571rem, 1.25rem) * -1);
    height: 100px;
    height: 200px;
    width: 100%;
    -webkit-mask-image: linear-gradient(transparent, black 80%);
    mask-image: linear-gradient(transparent, black 80%);
}

.tours-section .card {
    z-index: 2;
}
