button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star {
    /* outline: 1px solid black; */
}
.off {
    color: #ccc;
}
.on {
    color: #000;
}
.half {
    color: black;
    position: relative;
    /* width: 50% ; */
}

.before {
    content: "";
    position: absolute;
    background-color: white;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}
.broken {
    /* position: relative; */
}

.broken {
    position: absolute;
    left: 0;
    /* width: 20%;  */
}
.broken:before {
    content: "\2605";
    position: absolute;
    background-color: red;
    top: 0;
    width: 100%;
    height: 100%;
    color: red;
}
