.section {
    color: white;
    background-color: #0a4eb4e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2 {
    display: inline-block;
    padding-block: 50px;
    margin-bottom: 0px;
}
.join-btn {
    color: rgb(15, 16, 60);
    font-size: 1rem;
    font-weight: bold;
    line-height: 3em;
    padding-inline: 1.5em;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px;
}

.join-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
