.mid-banner {
    position: relative;
    overflow: hidden;
}

.mid-banner::before {
    content: "";
    position: absolute;
    /* background-image: url("https://i.ibb.co/0CR9VV8/1600x1200-13.jpg"); */
    background-image: url("https://i.ibb.co/2N07VH3/landing-img-11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    /* filter: brightness(70%); */
}

.mid-banner .btm-img {
    /* transform: rotate(180deg); */
    position: absolute;
    bottom: calc(clamp(0.3125rem, 3.81356vw + -0.450212rem, 3.125rem) * -1);

    /* bottom: -40px; */
    right: 0;
    /* margin-bottom: 2rem; */
    width: 100%;
    height: auto;
    z-index: 5;
}
.mid-banner .top-img {
    transform: rotate(180deg);
    position: absolute;
    top: calc(clamp(0.3125rem, 3.81356vw + -0.450212rem, 3.125rem) * -1);
    /* t */
    /* bottom: -40px; */
    right: 0;
    /* margin-bottom: 2rem; */
    width: 100%;
    height: auto;
    z-index: 5;
}
.mid-banner div {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-banner :is(p, h2) {
    position: relative;
    color: white;

    /* filter: brightness(1.4); */
}

.mid-banner h2 {
    /* font-size: 5rem; */
    text-transform: uppercase;
    letter-spacing: calc(
        clamp(0.0625rem, 0.227273vw + 0.0170455rem, 0.1875rem) * -1
    );
    word-spacing: 5px;
    font-weight: 600;
    font-size: clamp(2rem, 5.46075vw + 0.904437rem, 5rem);
}

.mid-banner p {
    /* font-size: clamp(1.25rem, 1.36364vw + 0.977273rem, 2rem); */
    font-size: clamp(0.9375rem, 0.568182vw + 0.823864rem, 1.25rem);
    /* font-size: 20px; */
    font-weight: 400;
    margin-bottom: 0.5rem;
    letter-spacing: 0px;
    word-spacing: 2px;
    text-transform: uppercase;
}
