/* ripple effect */
.ripple-button {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 1s;
}

.ripple-button > .ripple {
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: rgba(128, 128, 128, 0.1); */
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    opacity: 1;
    animation: 1s ease 3 forwards ripple-effect;
    /* animation: 1s ease ripple-effect; */
}

@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(10);
        opacity: 0.375;
    }

    100% {
        transform: scale(35);
        opacity: 0;
    }
}

.ripple-button > .content {
    position: relative;
    z-index: 2;
}

button.ripple-button:disabled {
    background-color: rgb(144, 144, 144);
}
