.banner {
    --banner-height: calc(100vh);
    height: var(--banner-height);
    margin-top: calc(var(--navbar-height) * -1);
    position: relative;
}

.banner .banner-img {
    filter: brightness(70%);
    height: var(--banner-height);
    /* z-index: 2; */
}

.banner h3 {
    font-size: clamp(2.5rem, 3.698vw + 1.63328rem, 4rem);
    letter-spacing: 3px;
}

.banner h4 {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    letter-spacing: 3px;
}

.banner-info {
    --spacing: 2px;
    letter-spacing: var(--spacing);
    word-spacing: var(--spacing);
    font-weight: 300;
    /* font-size: clamp(0.875rem, 0.770416vw + 0.694434rem, 1.1875rem); */
    font-size: clamp(0.8125rem, 0.535714vw + 0.705357rem, 1.1875rem);
    /* font-size: clamp(0.8125rem, 0.267857vw + 0.758929rem, 1rem); */
    width: min(750px, 100%);
    /* max-width: 750px; */
    margin: auto;
}

.banner .carousel-caption {
    height: calc(100vh - var(--navbar-height));
    /* right: 10%;
    left: 10%; */
    /* bottom: 2rem; */
}

.carousel-indicators {
    visibility: hidden;
}

.zurich,
.wyoming,
.paris,
.venezia {
    object-position: top;
}

.banner .btm-img {
    /* position: absolute; */
    /* bottom: calc(clamp(0.09375rem, 3.94068vw + -0.694386rem, 3rem) * -1); */
    bottom: calc(clamp(0.625rem, 3.13901vw + -0.00280269rem, 5rem) * -1);
    width: 100%;
    height: auto;
    z-index: 1;
}
/* banner btn  */
.banner-btn .content {
    /* font-family: var(--oswald);
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 500; */
    /* font-size: 0.9rem; */
    /* padding-inline: 1.5em;
    padding-block: 0.75em; */
    /* z-index: 1; */
}

.banner-btn {
    /* font-family: var(--oswald); */
    letter-spacing: 2px;
    font-size: 1.25rem;
    /* position: relative; */
    /* --background-color: #63ab45; */
    --background-color: #59815b;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-top: 1.54rem;
    /* border: 0px; */
    background-color: var(--background-color);
    box-shadow: 0px 0px 5px 0px var(--background-color);
    transition: 0.3s;
}

/* .banner-btn:after {
    content: "";
    position: absolute;
    --first-color: rgb(77, 128, 77);
    --second-color: rgb(18, 71, 18);
    background-size: 300% auto;

    background-image: linear-gradient(
        to right,
        var(--first-color) 0%,
        var(--first-color) 34%,
        var(--second-color) 34%,
        var(--second-color) 66%,
        var(--first-color) 66%,
        var(--first-color) 100%
    );

    transition: 0.5s;
    z-index: 2;
} */

.banner-btn:hover {
    background-position: right;
    --background-color: #426444;
    /* --background-color: black; */
    /* --background-color: #165a19; */
    background-color: var(--background-color);
    box-shadow: 0px 0px 5px 0px var(--background-color);
    /* z-index: 10; */
}
