/* common style for setRating and Rating componenet */
.star-button {
    /* display: flex; */
    flex-direction: column;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1;
}

.rating--star {
    display: inline-block;
    /* background-color: red; */
}

/* SetRating component  */

.half-star {
    display: inline-block;
    /* margin-top: 0px; */
}

/* Rating component  */

.parent--star {
    position: relative;
    /* height: inherit; */
    /* top: 0;
    bottom: 0; */
    /* bottom: 0; */
}

/* full star style  */
.star-outline {
    position: absolute;
    /* top: 0px; */
    bottom: 0px;
    left: 0;
    z-index: 8;
}

/* half star style  */
.half {
    /* display: inline-block; */
    position: absolute;
    /* top: 2px; */
    left: 0;
    bottom: 1px;
    /* bottom: 0px; */
    z-index: 20;
    overflow: hidden;

    /* color: black;  */
}
.half--star {
    /* display: inline-block; */
    position: absolute;
    /* padding-bottom: 1px; */
    /* top: 1px; */
    left: 0;
    bottom: 0px;
    /* overflow: hidden; */
    /* height: 100%;
    z-index: 12; */
    /* color: red; */
}

.half-outline {
    position: absolute;
    bottom: 1px;
    left: 0;
}
/* empty style color  */
.star--empty {
    /* position: absolute; */
    /* top: 4.5px; */
    /* color: white; */
    /* top: 0; */
    left: 0;
    bottom: 0px;
    z-index: 9;
}

.outline {
    /* display: inline-block; */
    position: absolute;
    /* top: 4.7px; */
    bottom: 0px;
    left: 0;
}
