/* common style for setRating and Rating componenet */
.star-button {
    /* display: flex; */
    flex-direction: column;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* margin: 0; */
    /* font-size: 2rem; */
    line-height: 1;
    /* background-color: greenyellow; */

    /* padding: 4px; */
}

.rating--star {
    display: inline-block;
    /* background-color: red; */
}

/* SetRating component  */

.half-star {
    display: inline-block;
    /* margin-top: 0px; */
}

/* Rating component  */

.parent--star {
    position: relative;
    top: 0;
    /* z-index: 1; */
}

.child--star {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.hidden {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
}
.hidden--star {
    display: inline-block;
    /* padding-top: 0.25em; */
    padding-bottom: 1px;
    /* top: 1px; */
    /* bottom: 2px; */
    height: 100%;
    z-index: 8;
    /* color: red; */
}

.dummy--star {
    position: absolute;
    top: 4.5px;
    bottom: 0;
    z-index: 1;
}

.outline {
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 1px; */
    left: 0;
    color: transparent;
    /* bottom: -0px; */
    z-index: 10;
}
