.tours-section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.tours-section h2 {
    font-size: 2.5rem;
    position: relative;
}

.tours-section::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/hW4FZ3C/landing-img-40.jpg");
    background-position: top;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 100%;
    height: 100%;
}

/* .tours-section::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
} */

.tours-section::after {
    content: "";
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    /* mask-image: linear-gradient(black, transparent); */
    -webkit-mask-image: linear-gradient(transparent, transparent, black);
    mask-image: linear-gradient(transparent, transparent, black);
}

.tours-section .card {
    position: relative;
    z-index: 2;
}
