.tours-section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.tours-section .spinner {
    position: absolute;
    margin-inline: auto;
    text-align: center;
    /* top: 0; */
    left: 25%;
    right: 25%;
    /* margin-block: 2rem; */
    /* padding-block: 1rem; */
}

.tours-section h2 {
    /* font-size: 2.5rem; */
    font-size: clamp(1.5625rem, 1.70455vw + 1.22159rem, 2.5rem);
    margin-bottom: 0px;
    position: relative;
}

.tours-section::before {
    content: "";
    position: absolute;
    /* background-image: url("https://i.ibb.co/hW4FZ3C/landing-img-40.jpg"); */
    background-image: url("https://i.ibb.co/kg9fg9g/landing-img-40-tiny.jpg");
    background-position: top;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 100%;
    height: 100%;
}

/* .tours-section::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
} */

.tours-section::after {
    content: "";
    background-image: url("https://i.ibb.co/NFDM48Y/h5-bckg-img-02.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    /* mask-image: linear-gradient(black, transparent); */
    -webkit-mask-image: linear-gradient(transparent, transparent, black);
    mask-image: linear-gradient(transparent, transparent, black);
}

.tours-section .card {
    position: relative;
    z-index: 2;
}
