/* footer */
.footer {
    --logo-height: clamp(1.5625rem, 1.5625vw + 1.25rem, 2.25rem);
    --logo-height: 30px;
    color: white;
    background-color: rgba(28, 31, 34, 0.98);
    line-height: 50px;
}

/* logo  */
.footer .logo-container {
    height: var(--logo-height);
}

.footer .logo-container .logo-bg {
    top: 0;
    left: 1px;
}

.footer h3 {
    font-size: 20px;
    /* margin-bottom: 1rem; */
}

.footer .website-name {
    font-size: 22px;
    font-weight: 500;
    margin-left: 0.2rem;
    font-family: var(--oswald);
}

/* footer info */

.footer-info {
    font-size: 14px;
    line-height: 20px;
    max-width: 300px;
    color: rgba(255, 255, 255, 0.9);
    /* font-weight: 400; */
}

/* social icons */
.social-icons a {
    display: inline-block;
    --square-icon: 40px;
    background-color: rgba(109, 109, 109, 0.4);
    /* border: 1px solid white; */
    border-radius: 50%;
    height: var(--square-icon);
    width: var(--square-icon);
    /* line-height: calc(var(--square-icon) - 5px); */
    line-height: var(--square-icon);
    margin-right: 1rem;
    color: white;
    text-align: center;
    transition: 0.2s ease-in;
}

.social-icons a:hover {
    background-color: white;
    color: black;
}

.social-icons {
    line-height: 1;
}

/* pages col */
.pages a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 5px;
}

/* contact info */
.icon-container {
    --square-box: 40px;
    display: inline-block;
    background-color: rgba(85, 85, 85, 0.8);
    height: var(--square-box);
    width: var(--square-box);
    text-align: center;
    line-height: var(--square-box);
    line-height: calc(var(--square-box) - (var(--square-box) * 0.1));
    /* line-height: 40px; */
    border-radius: 50%;
    margin-right: 10px;
    color: #60ad64;
    font-size: 15px;
}

.contact-info span {
    color: rgb(180, 180, 180);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    /* font-family: var(--oswald); */
}
.contact-us p {
    font-size: 14px;
    letter-spacing: 1px;
}

.contact-us div {
    /* margin-bottom: 0.9rem; */
}
.footer--bottom p {
    /* 1440 - 320 - 15-12 */
    font-size: clamp(0.75rem, 0.446429vw + 0.660714rem, 1.0625rem);
    font-size: 15px;
    padding-block: 1.5em;
    letter-spacing: 2px;
    line-height: 20px;
    background-color: #0a1016;
}

@media screen and (max-width: 424px) {
    /* .mini-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    } */
}
