.footer {
    color: white;
    background-color: #1c1f22;
    font-weight: 500;
    font-size: 1em;
    line-height: 50px;
}

.footer--bottom {
    font-size: 12px;
}
@media screen and (max-width: 424px) {
    .mini-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
