.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.add-service{
    margin-bottom: 150px;
    margin-top: 100px;
}
/* .textarea{
    height: 100px;
} */

.add-service form input,textarea{
    width: 40%;
    padding: 5px;
    margin: 10px;
}

.add-service form textarea{
    height: 100px;
}