/* .destiny-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */



.destinations span{
    font-size: 2em;
    
}
.destinations p{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.858);

}

.row{
    justify-content: center;
    justify-content: space-around;
}

.div{
    display: inline-block;
    background-color: black;
    mix-blend-mode:darken;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.div h2{
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    z-index: 2;
}

.div1{
    background-image: url("https://i.ibb.co/WpMS1Ht/Netherland2.jpg");

}
.div2{
    background-image: url("https://i.ibb.co/Xx0vbg0/greece2.jpg");
}
.div3{
    background-image: url("https://i.ibb.co/Z20FXtG/Italy2.jpg");

}

.div{
    position:relative;
    z-index: -1;
}

.div::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

@media screen and (max-width:424px) {
    .div{
        /* border: 1px solid black; */
        display: flex;
        width: 300px ;
        height: 300px;
        
        
    }
    /* .row{
        justify-content: center;
        justify-content: space-around;
        padding-bottom: 5em;
    } */
}