.link {
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: rgb(182, 182, 182);
    transition: 1s;
    font-weight: 700;
}

.link:hover {
    color: rgb(107, 107, 221);
}

Nav {
    /* text-align: right; */
}
.span {
    display: inline-block;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    padding: 5px;
}

.profile {
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}
