@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    /* --navbar-height: clamp(3.75rem, 1.54083vw + 3.38887rem, 4.375rem); */
    --navbar-height: clamp(3.75rem, 3.08166vw + 3.02773rem, 5rem);
    --oswald: "Oswald", sans-serif;
    --roboto: "Roboto", sans-serif;
    --code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    box-sizing: border-box;
    font-family: var(--roboto);
    letter-spacing: 1px;
}

body {
    margin: 0;
    font-family: var(--roboto);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--code);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--oswald);
}
