.banner {
    --banner-height: calc(100vh);
    height: var(--banner-height);
    margin-top: calc(var(--navbar-height) * -1);
    position: relative;
    overflow: hidden;
}

/* .banner::before {
    content: "";
    position: absolute;
    background-image: url("https://i.ibb.co/H74JPDf/h1-rev-bottom.png");
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
} */

.banner .img {
    object-fit: cover;
    filter: brightness(50%);
    height: var(--banner-height);
    z-index: 5;
}

.banner :is(p, h3) {
    color: #fff;
}

.banner h3 {
    font-size: clamp(2.5rem, 3.698vw + 1.63328rem, 4rem);
    letter-spacing: 3px;
}

.banner h4 {
    font-size: clamp(0.875rem, 0.308166vw + 0.802773rem, 1rem);
    letter-spacing: 3px;
}

.banner-info {
    --spacing: 2px;
    letter-spacing: var(--spacing);
    word-spacing: var(--spacing);
    font-weight: 300;
    font-size: clamp(0.875rem, 0.770416vw + 0.694434rem, 1.1875rem);
    /* font-size: 1.1875; */
    width: min(800px, 100%);
    margin: auto;
}

.banner .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* bottom: initial; */
    height: calc(100vh - var(--navbar-height));
    /* right: 10%;
    left: 10%;
    bottom: 2rem; */
}

.carousel-indicators {
    visibility: hidden;
}
.img1 {
    object-position: center;
}
.img3 {
    object-position: top;
}

.banner .btm-img {
    position: absolute;
    bottom: calc(clamp(0.09375rem, 3.94068vw + -0.694386rem, 3rem) * -1);
    /* bottom: -0.1rem; */
    /* bottom: -3rem; */
    right: 0;
    /* margin-bottom: 2rem; */
    width: 100%;
    height: auto;
    z-index: 5;
}
