.img{
    object-fit: cover;
    height: 720px;

}

.banner{
    position:relative;
    z-index: -1;
}

.banner::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.banner p{
    color: white;
    position: relative;
    z-index: 2;
}

.banner h3{
    position: relative;
    font-size: 4em;
    z-index: 2;
}


.banner-info{
    
    width: 400px;
    margin: auto;
    margin-bottom: 200px;
}

.img1,.img3{
    object-position: top;
}

@media screen and (max-width:450px) {
    .banner-info{
        width: 200px;
        margin: auto;
        margin-bottom: 200px;
    }
    
}