.banner {
    --banner-height: calc(100vh);
    height: var(--banner-height);
    margin-top: -60px;
}

.img {
    object-fit: cover;
    filter: brightness(50%);
    height: var(--banner-height);
}

.banner :is(p, h3) {
    color: #fff;
}

.banner h3 {
    font-size: 4em;
    letter-spacing: 3px;
}

.banner h4 {
    font-size: 1rem;
    letter-spacing: 3px;
}

.banner-info {
    --spacing: 2px;
    letter-spacing: var(--spacing);
    word-spacing: var(--spacing);
    font-weight: 300;
    font-size: clamp(0.9375rem, 0.770416vw + 0.756934rem, 1.25rem);

    width: 70%;
    margin: auto;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: initial;
    height: 100%;
}

.img1 {
    object-posi\hometion: bottom;
}
.img3 {
    object-position: top;
}

@media screen and (max-width: 450px) {
    .banner-info {
        width: 200px;
        margin: auto;
        margin-bottom: 200px;
    }
}
